*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    line-height: 1.4;
}
.container{
    max-width:1600px;
    width:100%;
    margin:0 auto;
    padding:0 2rem;
    // border:2px solid green;
}
html{
    scroll-behavior: smooth;
}

.flex{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
}
.flex-box{
    display: flex;
}

.flex-30{
    flex:0 1 30%;
}
.flex-40{
    flex:0 1 40%;
}
.flex-45{
    flex:0 1 45%;
}
.flex-60{
    flex:0 1 60%;
}
.align-self-center{
    align-self: center;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-btw {
    justify-content: space-between;
}
.text-align-center{
    text-align: center;
}
.flex-direction-column{
    flex-direction: column;
}
.padding-2{
    padding:2rem 0;
}
@mixin btn($bg-color,$color,$border) {
    padding:1.5rem 1.5rem;
    background-color:$bg-color;
    color:$color;
    border-radius:1rem;
    border:$border;
    font: {
        size:1.2rem;
        font-weight: 500;
    }
    &:focus{
        border:none;
    }
}


// animations styles

h2,.billy-lean{
    font-size:4rem;
    font-weight: 900;
    color:white;
    position:relative;
    margin:0;
    padding:0; 
    display: inline-block;
    transition: 0.5s;
    transform-origin:left;
    transform:scaleX(0); 
}
.billy-lean{
    transform-origin:right;
    transition-delay: 0.2s;
}
h2[data-scroll="in"],.billy-lean[data-scroll="in"]{
    transform:scaleX(1)
}
p{
    font-size:1.2rem;
    transition:1s;
    opacity:0;
}
p[data-scroll="in"]{
    opacity: 1;
    transition-delay: 0.5s;
}