html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.4;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.flex-45 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding-2 {
  padding: 2rem 0;
}

h2, .billy-lean {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.billy-lean {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

h2[data-scroll="in"], .billy-lean[data-scroll="in"] {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

p {
  font-size: 1.2rem;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

p[data-scroll="in"] {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.header .nav-bar .brand {
  width: 15rem;
}

.header .nav-bar .brand a img {
  width: 100%;
}

.header .nav-bar ul li:hover a {
  cursor: pointer;
  margin-left: 1rem;
}

.header .nav-bar li {
  padding: 2rem 1rem 2rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.header .nav-bar li a {
  text-decoration: none;
  color: white;
}

.header .nav-bar li a i {
  margin-left: 0.5rem;
}

.header .nav-bar .dropdown-box {
  position: relative;
}

.header .nav-bar .dropdown-box:hover .dropdown-menu {
  display: inline-block;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
}

.header .nav-bar .dropdown-menu {
  background-color: #222326;
  position: absolute;
  top: 5.5rem;
  width: 13rem;
  display: none;
  z-index: 99;
  -webkit-box-shadow: 2px 2px 5px 1px #242424;
          box-shadow: 2px 2px 5px 1px #242424;
}

.header .nav-bar .dropdown-menu li {
  padding: 1rem;
}

.header .nav-bar .dropdown-menu a {
  margin-left: 0.5rem;
  text-decoration: none;
  color: white !important;
  font-weight: 500;
}

p, h4 {
  padding: 1rem 0;
  line-height: 1.5;
}

.hero-section {
  /* Slideshow container */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* On smaller screens, decrease text size */
}

.hero-section .mySlides {
  display: none;
}

.hero-section img {
  vertical-align: middle;
}

.hero-section .container {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}

.hero-section .slideshow-container {
  max-width: 2000px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.hero-section .slideshow-container img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-section .mySlides figure {
  position: relative;
}

.hero-section .three-dots {
  position: absolute;
  bottom: 1rem;
  left: 48%;
}

.hero-section .text {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}

.hero-section .numbertext {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  top: 0;
}

.hero-section .dot {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.hero-section .active {
  background-color: #717171;
}

.hero-section .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.hero-section .avatar img {
  width: 100%;
}

.hero-section .mySlides article h2 {
  font-weight: 900;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero-section .mySlides article p, .hero-section .mySlides article h4 {
  font-size: 1.5rem;
  color: white;
  padding: 2rem 0rem;
}

.hero-section .btn-1 {
  padding: 1.5rem 1.5rem;
  background-color: #A5343F;
  color: white;
  border-radius: 1rem;
  border: 2px solid #A5343F;
  font-size: 1.2rem;
  font-font-weight: 500;
}

.hero-section .btn-1:focus {
  border: none;
}

.hero-section .hero-article-2 {
  background-color: #0208088e;
  padding: 2rem 3rem;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 300px) {
  .hero-section html {
    font-size: 11px;
  }
}

.video-section {
  background-color: #222326;
  position: relative;
}

.video-section .container .video-article h2 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.video-section .container .video-article h3 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.video-section .container iframe {
  width: 60%;
  height: 30rem;
}

.party-section {
  background-color: #222326;
  position: relative;
}

.party-section .container {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}

.party-section .container .party-article {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  width: 40%;
}

.party-section .container .billy-one {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 40rem;
}

.party-section .container .billy-one img {
  width: 100%;
}

.party-section .container .party-article h2 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.party-section .container .party-article p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.party-section .btn-2 {
  padding: 1.5rem 1.5rem;
  background-color: #306D93;
  color: white;
  border-radius: 1rem;
  border: 2px solid #306D93;
  font-size: 1.2rem;
  font-font-weight: 500;
}

.party-section .btn-2:focus {
  border: none;
}

.common-section {
  background-color: #222326;
  position: relative;
}

.common-section .container {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}

.common-section .container .common-article {
  position: absolute;
  bottom: 20rem;
  right: 3rem;
  width: 35%;
}

.common-section .container .peanut {
  position: absolute;
  right: 2rem;
  margin-top: -4rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 20rem;
}

.common-section .container .peanut img {
  width: 100%;
}

.common-section .container .common-article h2 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.common-section .container .common-article p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.common-section .btn-2 {
  padding: 1.5rem 1.5rem;
  background-color: #306D93;
  color: white;
  border-radius: 1rem;
  border: 2px solid #306D93;
  font-size: 1.2rem;
  font-font-weight: 500;
}

.common-section .btn-2:focus {
  border: none;
}

.games-section {
  background-color: #222326;
  position: relative;
}

.games-section .active-orange {
  color: #eb8b0e !important;
  font-size: 3rem !important;
}

.games-section .active-white {
  color: #f3c890 !important;
}

.games-section .container {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}

.games-section .container .games-article {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  width: 40%;
}

.games-section .container .correct-width {
  width: 80%;
}

.games-section .container .peanut {
  position: absolute;
  right: 2rem;
  margin-top: -4rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 20rem;
}

.games-section .container .peanut img {
  width: 100%;
}

.games-section .container .games-article h2 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.games-section .container .games-article p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.games-section .btn-2 {
  padding: 1.5rem 1.5rem;
  background-color: #306D93;
  color: white;
  border-radius: 1rem;
  border: 2px solid #306D93;
  font-size: 1.2rem;
  font-font-weight: 500;
}

.games-section .btn-2:focus {
  border: none;
}

.keep-in-touch-section {
  background-color: #222326;
  position: relative;
}

.keep-in-touch-section .container {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
}

.keep-in-touch-section .container .common-article {
  position: absolute;
  bottom: 42rem;
  left: 3rem;
  width: 40%;
}

.keep-in-touch-section .container .billy-lean {
  position: absolute;
  right: 2rem;
  margin-right: -9rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 40rem;
}

.keep-in-touch-section .container .billy-lean img {
  width: 100%;
}

.keep-in-touch-section .container .common-article h2 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.keep-in-touch-section .container .common-article p, .keep-in-touch-section .container .common-article h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.keep-in-touch-section .container .logo-group i {
  color: white;
  font-size: 4rem;
  margin-right: 2rem;
}

.keep-in-touch-section .btn-2 {
  padding: 1.5rem 1.5rem;
  background-color: #306D93;
  color: white;
  border-radius: 1rem;
  border: 2px solid #306D93;
  font-size: 1.2rem;
  font-font-weight: 500;
}

.keep-in-touch-section .btn-2:focus {
  border: none;
}

#toggle, .bars {
  display: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  .nav {
    display: none;
  }
  .padding-top-15 {
    padding-top: 15rem;
  }
  .nav li {
    margin: 2rem 0;
    font-size: 2rem;
  }
  .nav li a {
    color: #ffffff;
  }
  .padding-3 {
    padding: 5rem 0rem;
  }
  .overlay {
    background-color: rgba(128, 128, 128, 0.52);
    position: fixed;
  }
  .flex-direction-col-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bars {
    display: inline-block;
    font-size: 2.4rem;
    color: #ffffff;
    position: fixed;
    right: 10rem;
    top: 16px;
    z-index: 199;
  }
  .nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(66, 127, 151, 0.623);
    z-index: 99;
  }
  #toggle:checked ~ .nav {
    display: inline-block;
  }
  .common-section .common-article {
    bottom: 2rem !important;
  }
  .keep-in-touch-section .billy-lean {
    display: none;
  }
  .keep-in-touch-section .logo-group i {
    color: white;
    font-size: 2rem !important;
    margin-right: 1rem;
  }
  .keep-in-touch-section .billy-lean2 {
    position: absolute;
    right: 2rem;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 40rem;
  }
  .keep-in-touch-section .billy-lean2 img {
    width: 100%;
  }
  .keep-in-touch-section .common-article {
    bottom: 2rem !important;
  }
  li a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 4px;
  }
  .flex-dropout-small {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 5px;
  }
}

.footer-section {
  padding: 5rem 0 2rem 0;
  background-color: black;
  color: #ffffff;
}

.footer-section address ul li {
  margin: 1rem 0;
}

.footer-section address ul li a {
  text-decoration: none;
  color: #BDBDBD;
}

.footer-section address ul li i {
  margin-right: 0.5rem;
}

.footer-section .footer-nav ul li {
  margin: 1rem 0rem;
  color: #ffffff;
}

.footer-section .footer-nav ul li:nth-child(1), .footer-section address ul li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
  font-color: #BDBDBD !important;
}

.footer-section .icons li a i {
  color: #ffffff;
  font-size: 1rem;
  margin-right: 1rem;
}

.footer-section small {
  padding: 0.5rem 0;
  color: #ffffff;
}

.footer-section .last-heading {
  padding: 2rem 0;
  color: #ffffff !important;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */